nav{
    display: flex;
    list-style-type: none;
    background-color: chocolate;
    justify-content: space-around;
    padding: 10px;
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown:hover {
    background-color: #f1f1f1;
}

.dropdown-list{
    display: none
}

/* .dropdown-link{

} */
