.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color:  rgba(23,18,15,255);
}

.grid-item{
    background-color: blanchedalmond;
    margin: 30px;
    text-align: center;
}

img{
    padding: 30px 0px 0px 0px;
    height: auto;
    width: auto;
}

@media screen and (min-width){
    
}